.modal {
    height : 100% ;
    width : 100% ;
    background-color : rgba(0,0,0,0.4) ;
    position: fixed ;
    top:0 ;
    left:0 ;
    display : flex ;
    justify-content:center ;
    align-items:center ;
    pointer-events: none;
    opacity: 0;
    transition:0.5s ;
}

.visible{
    opacity: 1;
    pointer-events: all;
}


.modalContent{
    background-color: rgb(42, 48, 60) ;
    border-radius: 10px;
    transition:0.5s ;
    transform:scale(0.5) ;
    transition:0.4s all ;
    color:white ;
}

.modalContent input{
    color:black ;
}

.modalContentVisible{
    transform:scale(1) ;
}
