/* *{
    margin:0 ;
    padding :0 ;
} */
.diagram{ 
    color:white ;
    width: 60%;
    height: 40%;
    margin-left:auto;
    margin-right:auto;
    text-align:center ;
     /* height: 40%;  */
     /* display:flex ;
    flex-direction: column;
    align-items:center ;  */
    background-color:rgb(115, 126, 150 , 0.1) ;
 }

.hide{
    display:none ;
}